<h1>Hello from the new session view!</h1>

<%= form_with(url: "/login", method: 'post') do %>
  <%= label_tag :name, "Enter your name:" %>
  <%= text_field_tag :name %>
  <%= submit_tag "Enter" %>
<% end %>

<% unless logged_in? %>
  <h3>
    Currently logged in as 
    <%= current_user.name %>
    <%= current_user_id %>
  </h3>
  <%= button_to "Log Out", logout_path, method: "delete" %>
<% end %>