<nav class="navbar">
  <p></p>
  <h1>LOGIN</h1>
  <a href="#"></a>
</nav>

<%= form_with(url: "/login", method: 'post') do %>
  <%= text_field_tag :name, nil, placeholder: "Name" %>
  <%= submit_tag "Enter" %>
<% end %>

<%= button_to "Log Out", logout_path, method: 'delete' %>

<% unless session[:user_id].nil? %>
  <p><%= "You are currently logged in as #{current_user.name}." %></p>
<% end %>
