<h1>Hello from the new session view!</h1>

<%= form_with(url: "/login", method: 'post') do %>
  <%= label_tag :name, "Enter your name:" %>
  <%= text_field_tag :name %>
  <%= submit_tag "Enter" %>
<% end %>

<%= button_to "Log Out", logout_path, method: 'delete' %>

<% unless session[:user_id].nil? %>
  <p><%= "You are currently logged in as #{current_user.name}." %></p>
<% end %>
