<div class="new-group">
  <div class="banner">
    <h1>New Group</h1>
    <%= link_to "Return to your profile", user_path(User.find(session[:user_id])), class: "profile-link" %>
  </div>

  <%= form_with(model: @group, local: true) do |form| %>
    <div class="field-wrapper">
      <%= form.label :name, "Name:" %>
      <%= form.text_field :name %>
    </div>

    <div class="field-wrapper">
      <%= form.label :avatar, "Group Icon:" %>
      <%= form.file_field :avatar %>
    </div>
    <%= form.submit "Create" %>
  <% end %>

  <% if @group.errors.any?%>
    <div class="errors">
      <h3>Whoops! Group could not be created due to the following <%= pluralize(@group.errors.count, "reason") %>:</h3>
      <ul>
        <% @group.errors.full_messages.each do |msg| %>
          <li><%= "#{msg}." %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>