<div class="banner">
  <h1><%= @group.name.upcase %></h1>
  <img 
  class= "image" 
  src= <%= @group.avatar.attached? ? url_for(@group.avatar) : '/paw.png' %>
  >
  <%= link_to "Return to your profile", user_path(User.find(session[:user_id])), class: "profile-link" %>
</div>

<ul class="transactions-list">
  <% @transactions.each do |transaction| %>
    <div class="card">
      <img 
        class="image" 
        src= <%= "#{url_for(transaction.user.avatar)}" %> >
      <div class="card-body">
        <div class="details">
          <h5><%= transaction.name %></h5>
          <p><%= transaction.created_at.strftime("%d %b. %Y") %></p>
        </div>
      </div>
    </div>
  <% end %>
</ul>