<div class="banner">
  <h1><%= @group.name %></h1>
  <img class = "image" src= <%= "#{url_for(@group.avatar)}" %>>
</div>

<ul class="transactions-list">
  <% @transactions.each do |transaction| %>
    <div class="card">
      <img class="image" src= <%= "#{url_for(@user.avatar)}" %> >
      <div class="card-body">
        <div class="details">
          <h5><%= transaction.name %></h5>
          <p><%= transaction.created_at.strftime("%d %b. %Y") %></p>
        </div>
      </div>
    </div>
  <% end %>
</ul>