<h1>
  <%= @user.name %>
  <%= image_tag(@user.avatar, "Profile Picture") %>
</h1>

<%= link_to "All transactions", transactions_path %>
<%= link_to "All external transactions" %>
<%= link_to "All groups", groups_path %>
