<h1>Hello from the new Transaction view!</h1>

<%= form_with(model: @transaction) do |form| %>
  <p>Select the group that this transaction belongs to:</p>
  <% @groups.each do |group| %>
    <%= form.label :group_id, group.name %>
    <%= form.radio_button(:group_id, group.id) %>
  <% end %>
  </br>
  <%= form.label :name, "Enter the name of the new transaction" %>
  <%= form.text_field :name %></br>
  <%= form.label :amount, "Enter the amount for the new transaction" %>
  <%= form.text_field :amount %></br>
  <%= form.submit "Submit" %>
<% end %>