<h1>Hello from the new Transaction view!</h1>

<%= form_with(model: @transaction) do |form| %>
  <%= form.label :user_id, "Enter the user_id of the new transaction" %>
  <%= form.text_field :user_id %></br>
  <%= form.label :group_id, "Enter the group_id of the new transaction" %>
  <%= form.text_field :group_id %></br>
  <%= form.label :name, "Enter the name of the new transaction" %>
  <%= form.text_field :name %></br>
  <%= form.label :amount, "Enter the amount for the new transaction" %>
  <%= form.text_field :amount %></br>
  <%= form.submit "Submit" %>
<% end %>