
<div class="transactions-new">
  <div class="banner">
    <h1>New Transaction</h1>
  </div>  


  <%= form_with(model: @transaction) do |form| %>

    <div class="field-wrapper">
      <%= form.label :group_ids, "Group:" %>

      <div class="input">
        <% @groups.each do |group| %>
          <div>
            <%= form.label :group_ids, group.name %>
            <%= form.check_box(:group_ids, {multiple: true}, group.id) %>
          </div>
        <% end %>
      </div>
    </div>

    </br>

    <div class="field-wrapper">
      <%= form.label :name, "Name:" %>
      <%= form.text_field :name %></br>
    </div>
    <div class="field-wrapper">
      <%= form.label :amount, "Amount:" %>
      <%= form.text_field :amount %></br>
    </div>
    <div class="field-wrapper">
      <%= form.label :description, "Description:" %>
      <%= form.text_area :description %></br>
    </div>


    <%= form.submit "Submit" %>
  <% end %>

</div>