<div class="transaction-show">

  <div class="banner">
    <h1>Transaction Details</h1>
  </div>

  <div class="transaction-card">
    <div class="header">
      <div class="title-wrapper">
        <% if @transaction.groups.empty? %>
          <img class="image" src="https://icon-library.com/images/generic-user-icon/generic-user-icon-19.jpg">
        <% else %>
          <img class="image" src= <%= "#{url_for(@transaction.groups.first.avatar)}" %>>
        <% end%>
        <h2 class="title"><%= @transaction.name %></h2>
      </div>
      <p class="description"><%= @transaction.description %></p>
    </div>

    <div class="info">
      <p><%= "Transaction ID: #{@transaction.id}" %></p>
      <p class="date">
        <%= "#{format_date(@transaction.created_at.to_date)}"%>
      </p>
    </div>
    <div class="amount">
      <h4>TOTAL PAYMENT</h4>
      <span><%= "#{@transaction.amount} hours" %></span>
    </div>
  </div>
